Repository newrelic/newrelic-browser-agent, pull requests merged in 2023-01, with the labels that each got.

#352 Prevent webpack mangling nrWrapper method
  CHANGELOG.md
  cdn/webpack.config.js
  tests/functional/err/event-listener.test.js
  tests/functional/err/ignore-error.test.js
  tests/functional/err/set-immediate.test.js
  tests/functional/err/set-interval.test.js
  tests/functional/err/set-timeout.test.js
  tests/functional/err/uncaught.test.js
  tests/functional/err/xhr.test.js
  tools/jil/server/asset-server.js
Labels: bug

#317 Upgrade yargs
  .eslintrc
  .husky/pre-commit
  THIRD_PARTY_NOTICES.md
  package-lock.json
  package.json
  third_party_manifest.json
  tools/jil/package-lock.json
  tools/jil/package.json
  tools/jil/runner/args.js
  tools/jil/util/sauce-browsers.js
Labels: maintenance

#350 Breaking out the asset/collector server
  .eslintignore
  newrelic.js
  package-lock.json
  package.json
  tools/jil/driver/Driver.js
  tools/jil/package.json
  tools/testing-server/.eslintrc.json
  tools/testing-server/README.md
  tools/testing-server/project.json
  tools/testing-server/src/asset-server.js
  tools/testing-server/src/base-server.js
  tools/testing-server/src/index.js
  tools/testing-server/src/responders.js
  tools/testing-server/src/router.js
  tools/testing-server/tsconfig.json
  tools/testing-server/tsconfig.lib.json
  tsconfig.base.json
Labels: safe to test, maintenance

#357 Update babel targets and tests to match support statement (NEWRELIC-5417)
  .github/workflows/tests.yml
  cdn/webpack.config.js
  third_party_manifest.json
  tools/jil/util/browsers-supported.json
  tools/jil/util/sauce-browsers.js
  tools/testing-server/src/asset-server.js
Labels: safe to test

#359 NR-77875: Global scope fix
  CHANGELOG.md
  cdn/agent-aggregator/aggregator.js
  cdn/agent-aggregator/util/api.js
  cdn/agent-loader/lite.js
  cdn/agent-loader/pro.js
  cdn/agent-loader/spa.js
  cdn/agent-loader/utils/configure.js
  cdn/agent-loader/utils/feature-detection.js
  cdn/agent-loader/utils/importAggregator.js
  cdn/agent-loader/worker.js
  cdn/webpack.config.js
  packages/browser-agent-core/src/common/browser-version/ie-version.js
  packages/browser-agent-core/src/common/config/state/runtime.js
  packages/browser-agent-core/src/common/cookie/nav-cookie.js
  packages/browser-agent-core/src/common/event-listener/event-listener-opts.js
  packages/browser-agent-core/src/common/harvest/harvest.js
  packages/browser-agent-core/src/common/ids/id.js
  packages/browser-agent-core/src/common/ids/unique-id.js
  packages/browser-agent-core/src/common/metrics/framework-detection.js
  packages/browser-agent-core/src/common/timing/performance-check.js
  packages/browser-agent-core/src/common/timing/start-time.js
  packages/browser-agent-core/src/common/unload/eol.js
  packages/browser-agent-core/src/common/url/parse-url.js
  packages/browser-agent-core/src/common/url/protocol.js
  packages/browser-agent-core/src/common/util/global-scope.js
  packages/browser-agent-core/src/common/util/stringify.js
  packages/browser-agent-core/src/common/window/nreum.js
  packages/browser-agent-core/src/common/window/session-storage.js
  packages/browser-agent-core/src/common/window/supports-performance-observer.js
  packages/browser-agent-core/src/common/window/win.js
  packages/browser-agent-core/src/common/wrap/wrap-events.js
  packages/browser-agent-core/src/common/wrap/wrap-fetch.js
  packages/browser-agent-core/src/common/wrap/wrap-history.js
  packages/browser-agent-core/src/common/wrap/wrap-jsonp.js
  packages/browser-agent-core/src/common/wrap/wrap-mutation.js
  packages/browser-agent-core/src/common/wrap/wrap-promise.js
  packages/browser-agent-core/src/common/wrap/wrap-raf.js
  packages/browser-agent-core/src/common/wrap/wrap-timer.js
  packages/browser-agent-core/src/common/wrap/wrap-xhr.js
  packages/browser-agent-core/src/features/ajax/instrument/distributed-tracing.js
  packages/browser-agent-core/src/features/ajax/instrument/index.js
  packages/browser-agent-core/src/features/jserrors/aggregate/index.js
  packages/browser-agent-core/src/features/jserrors/instrument/index.js
  packages/browser-agent-core/src/features/metrics/instrument/index.js
  packages/browser-agent-core/src/features/metrics/instrument/workers-helper.js
  packages/browser-agent-core/src/features/page-action/aggregate/index.js
  packages/browser-agent-core/src/features/page-view-event/aggregate/index.js
  packages/browser-agent-core/src/features/page-view-event/instrument/index.js
  packages/browser-agent-core/src/features/page-view-timing/aggregate/index.js
  packages/browser-agent-core/src/features/page-view-timing/instrument/index.js
  packages/browser-agent-core/src/features/session-trace/instrument/index.js
  packages/browser-agent-core/src/features/spa/aggregate/index.js
  packages/browser-agent-core/src/features/spa/instrument/index.js
  tests/browser/obfuscate.browser.js
  tests/browser/protocol.browser.js
Labels: bug

#343 [chore] Converting unit tests for jserrors
  .eslintignore
  .eslintrc
  .eslintrc.json.nx
  package-lock.json
  package.json
  packages/browser-agent-core/src/common/util/global-scope.js
  packages/browser-agent-core/src/features/jserrors/aggregate/canonical-function-name.test.js
  packages/browser-agent-core/src/features/jserrors/aggregate/compute-stack-trace.test.js
  packages/browser-agent-core/src/features/jserrors/aggregate/format-stack-trace.test.js
  packages/browser-agent-core/src/features/jserrors/aggregate/string-hash-code.test.js
  packages/browser-agent-core/tsconfig.lib.json
  packages/browser-agent/tsconfig.lib.json
  tests/browser/err/canonical-function-name.browser.js
  tests/browser/err/compute-stack-trace.browser.js
  tests/browser/err/format-stack-trace.browser.js
  tests/browser/err/stack-parse-testcases.js
  tests/browser/err/string-hash-codes.browser.js
  tests/browser/modules/js-errors/canonical-function-name.browser.js
  tests/browser/modules/js-errors/compute-stack-trace.browser.js
  tests/browser/modules/js-errors/format-stack-trace.browser.js
  tests/browser/modules/js-errors/stack-parse-testcases.js
  tests/browser/modules/js-errors/string-hash-codes.browser.js
  tools/jil/driver/Driver.js
  tools/testing-server/.eslintrc.json
  tools/testing-server/README.md
  tools/testing-server/asset-server.js
  tools/testing-server/base-server.js
  tools/testing-server/index.js
  tools/testing-server/project.json
  tools/testing-server/responders.js
  tools/testing-server/router.js
  tools/testing-server/tsconfig.json
  tools/testing-server/tsconfig.lib.json
  tools/testing-utils/browser-errors/error-constructor.js
  tools/testing-utils/browser-errors/index.js
  tools/testing-utils/index.js
Labels: safe to test, maintenance

#362 Kill features on 403
  CHANGELOG.md
  packages/browser-agent-core/src/common/harvest/harvest-scheduler.js
  packages/browser-agent-core/src/common/harvest/harvest.js
  packages/browser-agent-core/src/common/util/feature-base.js
  packages/browser-agent-core/src/features/ajax/aggregate/index.js
  packages/browser-agent-core/src/features/jserrors/aggregate/index.js
  packages/browser-agent-core/src/features/metrics/aggregate/index.js
  packages/browser-agent-core/src/features/page-action/aggregate/index.js
  packages/browser-agent-core/src/features/page-view-timing/aggregate/index.js
  packages/browser-agent-core/src/features/session-trace/aggregate/index.js
  tests/functional/disable-harvest.test.js
Labels: safe to test, standalone

#363 [Patch] Distinguish reporting of windowUnload from pageHide to NR
  packages/browser-agent-core/src/common/unload/eol.js
  packages/browser-agent-core/src/features/page-view-timing/aggregate/index.js
  packages/browser-agent-core/src/features/page-view-timing/instrument/index.js
  tests/browser/timings-lcp-cls.browser.js
  tests/browser/timings-lcp.browser.js
Labels: safe to test, MMF

#368 use setToken response flags to kill instantiated features
  CHANGELOG.md
  VERSION
  packages/browser-agent-core/src/common/harvest/harvest-scheduler.js
  packages/browser-agent-core/src/common/harvest/harvest.js
  packages/browser-agent-core/src/common/util/feature-base.js
  packages/browser-agent-core/src/common/util/feature-flags.js
  packages/browser-agent-core/src/features/ajax/aggregate/index.js
  packages/browser-agent-core/src/features/jserrors/aggregate/index.js
  packages/browser-agent-core/src/features/metrics/aggregate/index.js
  packages/browser-agent-core/src/features/page-action/aggregate/index.js
  packages/browser-agent-core/src/features/spa/aggregate/index.js
  tests/functional/disable-harvest.test.js
  tests/functional/spa/feature-flag-disabled.test.js
  tools/jil/util/browsers-supported.json
Labels: smoke test

#370 Prepend Loaders with Semi-Colon
  cdn/webpack.config.js
  tests/functional/rum/global-count.test.js
  tools/jil/util/browsers-supported.json
  tools/scripts/post-build-cleanup.js
Labels: bug, safe to test

#367 NR-78867: Safe sessionStorage writes
  CHANGELOG.md
  packages/browser-agent-core/src/common/window/session-storage.js
  tests/assets/api/session-storage-disallowed.html
  tests/functional/api.test.js
  tools/jil/util/browsers-supported.json
Labels: bug, smoke test

#379 bump version to 1223
  VERSION
Labels: Next Release

#381 Update change log in preparation for 1223 release.
  CHANGELOG.md
  tools/jil/util/browsers-supported.json
Labels: Next Release

#380 Remove POC Remnants + Stabilize Session Trace Sample Decision
  src/common/config/state/configurable.js
  src/common/config/state/init.js
  src/common/context/shared-context.js
  src/common/util/console.js
  src/common/util/feature-flags.js
  src/common/util/global-scope.js
  src/common/util/obfuscate.js
  src/common/window/nreum.js
  src/common/wrap/wrap-xhr.js
  src/features/ajax/aggregate/index.js
  src/features/ajax/instrument/index.js
  src/features/jserrors/aggregate/index.js
  src/features/metrics/aggregate/index.js
  src/features/metrics/instrument/workers-helper.js
  src/features/page_action/aggregate/index.js
  src/features/page_action/instrument/index.js
  src/features/page_view_event/instrument/index.js
  src/features/page_view_timing/aggregate/index.js
  src/features/page_view_timing/instrument/index.js
  src/features/session_trace/aggregate/index.js
  src/features/session_trace/instrument/index.js
  src/features/spa/aggregate/index.js
  src/features/spa/instrument/index.js
  src/features/utils/handler-cache.js
  src/features/utils/instrument-base.js
  src/loaders/agent.js
  src/loaders/api/api.js
  src/loaders/features/enabled-features.js
  src/loaders/features/features.js
  src/loaders/micro-agent.js
  tests/assets/click.html
  tests/assets/rum-multiple-load-events.html
  tests/functional/disable-harvest.test.js
  tests/functional/rum/features.test.js
  tests/functional/rum/multiple-load-events.test.js
  tools/jil/util/browsers-supported.json
Labels: safe to test, maintenance, Next Release
